@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

/* ------------------- HEADER ------------------- */

.header-content {
    display: flex;
    justify-content: center;
}

.navbar {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    margin-top: 10px;
    padding: 8px 10px;
    border-radius: 10px;
}

.navbar-tours-select {
    height: 30px;
    width: 170px;
}

.navbar-item {
    margin-right: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-btn-nutave {
    background-color: #0500FF;
    padding: 10px 15px;
    border-radius: 20px;
}

.navbar-btn-benutave {
    background-color: #0094FF;
}

.navbar-btn-nutave p {
    color: #fff;
    font-weight: bold;
}

.navbar-language {
    margin-right: 10px;
}

.navbar-language img {
    border: 1px solid #000;
}

/* ------------------- Tours ------------------- */

.tours {
    display: flex;
    justify-content: center;
}

.tours-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0094FF;
    padding: 30px;
    border-radius: 10px;
}

.tours-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 25px;
}

.tours-strong {
    color: #FFFF00;
}

.tours-imgs {
    display: flex;
    gap: 100px;
}

.tours-img {
    object-fit: cover;
    height: 328px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px #000;
}

.tours-img-text {
    margin-top: 20px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

/* ------------------- About ------------------- */

.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D9D9D9;
    height: 535px;
    margin-top: 100px;
    margin-bottom: 200px;
    background-image: url(../NUTAV/assets/aboutbg.png);
    color: #fff;
    font-weight: bold;
}

.about-logo {
    margin-right: 50px;
}

.about-text {
    font-size: 25px;
    width: 35vw;
}

/* ------------------- Locations ------------------- */

.locations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.locations-img {
    display: flex;
    flex-direction: column;
}

.locations-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    width: 35vw;
}

.locations-text-title {
    font-weight: bold;
}

.locations-text-text {
    text-align: center;
}

.locations-btn-content {
    color: #fff;
    padding:  10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

.locations-btn-places {
    background-color: #0094FF;
}

.locations-btn-guides {
    background-color: #0500FF;
}

.locations-btn {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* ------------------- Footer ------------------- */

/* .footer {
    height: 300px;
    background-color: #0094FF;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center ;
}   

.footer-logo-text {
    color: #fff;
    font-weight: bold;
} */