@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Quitar estilos por defecto */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

/* ------------------- HEADER ------------------- */

.header-content {
    display: flex;
    justify-content: center;
}

.navbar {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    margin-top: 10px;
    padding: 8px 10px;
    border-radius: 10px;
}

.navbar-tours-select {
    height: 30px;
    width: 170px;
}

.navbar-item {
    margin-right: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-btn-nutave {
    background-color: #0500FF;
    padding: 10px 15px;
    border-radius: 20px;
}

.navbar-btn-benutave {
    background-color: #0094FF;
}

.navbar-btn-nutave p {
    color: #fff;
    font-weight: bold;
}

.navbar-language {
    margin-right: 10px;
}

.navbar-language img {
    border: 1px solid #000;
}

/* ------------------- ABOUT ------------------- */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
    background-image: url(../assets/Lugares/aboutMedellin.jpg);
    color: #fff;
    font-weight: bold;
    background-size: cover;
}

.about-text {
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #0000008f;
    width: 37vw;
    padding: 5px;
}

.about-text strong {
    color: #ffff00;
}

.about-img {
    margin-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ------------------- PARAMETERS BAR ------------------- */

.parameters-content {
    display: flex;
    justify-content: center;
}

.parameters-bar {
    background-color: #d9d9d9;
    width: 95vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 8px 10px; 
}

.parameters-bar-btn {
    background-color: #0094FF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.parameters-bar-btn-blue {
    background-color: #0500FF;
}

.parameters-bar-select {
    margin-left: 5px;
    padding: 2px 5px;
    font-size: 15px;
    background-color: #0094FF;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s background-color;
}

.parameters-bar-select:hover {
    background-color: #0059ff;
}

/* ------------------- GUIDES ------------------- */

.main-guides {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
}

.guides-section {
    display: flex;
    flex-direction: column;
}

.guides-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.guides-content-below {
    margin-top: 30px;
}

.guides-img {
    display: flex;
    flex-direction: column;
}

.guides-img {
    width: 200px;
}

.guides-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.guides-info-p {
    width: 20vw;
}

.guides-video {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.guides-video-mp4 img {
    width: 350px;
    border: 1px solid #000;
}

.guides-video-btn {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #0094FF;
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
}

.guides-tours {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.guides-tours-content {
    display: flex;
    gap: 30px;
    align-items: center;
}

.guides-tours-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.guides-tours-content-item img {
    width: 70px;
}

/* ------------------- ASIDE ------------------- */

.aside-reviews {
    width: 25vw;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
}

.aside-reviews-card {
    margin-top: 10px;
}

.aside-reviews-title {
    background-color: #0094FF;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}

.reviews-guides-name {
    margin-bottom: 10px;
}

.reviews-guides-stars {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.reviews-guides-stars img {
    width: 150px;
}


/* ------------------- Footer ------------------- */

.footer {
    margin-top: 100px;
    font-weight: bold;
    height: 200px;
    background-color: #0094FF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    margin-left: 100px;
}

.footer-text-social img {
    margin-right: 15px;
    padding: 5px;
    transition: 0.3s all;
}

.footer-text-social img:hover {
    background-color: #0500FF;
    border-radius: 10px;
}

.footer-text p {
    width: 350px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links-info-p {
    transition: 0.5s text-decoration;
}

.footer-links-info-p:hover {
    text-decoration: underline 3px solid #0500FF;
}

.footer-links a {
    text-align: right;
    color: #fff;
}