@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Quitar estilos por defecto */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

/* ------------------- HEADER ------------------- */

.header-content {
    display: flex;
    justify-content: center;
}

.navbar {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    margin-top: 10px;
    padding: 8px 10px;
    border-radius: 10px;
}

.navbar-tours-select {
    height: 30px;
    width: 170px;
}

.navbar-item {
    margin-right: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-btn-nutave {
    background-color: #0500FF;
    padding: 10px 15px;
    border-radius: 20px;
}

.navbar-btn-benutave {
    background-color: #0094FF;
}

.navbar-btn-nutave p {
    color: #fff;
    font-weight: bold;
}

.navbar-language {
    margin-right: 10px;
}

.navbar-language img {
    border: 1px solid #000;
}


.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
    background-image: url(../assets/Lugares/aboutMedellin.jpg);
    color: #fff;
    font-weight: bold;
    background-size: cover;
}

.about-text {
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #0000008f;
    width: 35vw;
    padding: 5px;
}

.about-text strong {
    color: #10b880;
}

.about-img {
    margin-right: 25px;
}

/* ------------------- PARAMETERS BAR ------------------- */

.parameters-content {
    display: flex;
    justify-content: center;
}

.parameters-bar {
    background-color: #d9d9d9;
    width: 95vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 8px 10px; 
}

.parameters-bar-btn {
    background-color: #0094FF;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.parameters-bar-btn-blue {
    background-color: #0500FF;
}

.parameters-bar-select {
    margin-left: 5px;
    padding: 2px 5px;
    font-size: 15px;
    background-color: #0094FF;
    color: #fff;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s background-color;
}

.parameters-bar-select:hover {
    background-color: #0059ff;
}

/*Section with articles and aside*/

.guide {
    display: flex;
    justify-content: space-between;
}

.Image-guide,
.Information-guide,
.video-contact-guide {
    width: 30%; 
}

.tours {
    display: flex;
    justify-content: space-between;
    width: 30%; 
}

.contact-btn-content{
    color: #fff;
    padding:  10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #0094FF;
    margin-left: auto;
    margin-right: auto;
    width:min-content
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.articles {
    flex-grow: 1;
    width: 70%; /* Ancho de los artículos */
    background-color: #fff;
    padding: 20px;
}

.reviews {
    width: 30%; /* Ancho del aside */
    background-color: #EFEFEF;
    padding: 20px;
}
